.filter {
  margin-top: 40px;

  @media (max-width: 600px) {
    margin-top: 32px;
  }

  &__inner {
  }

  &__tabs {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 42px;

    @media (max-width: 1100px) {
      justify-content: center;
    }

    @media (max-width: 600px) {
      padding: 0 15px;
      margin-bottom: 34px;
    }
  }

  &__tabs-item {
    font-size: 20px;
    line-height: 150%;
    color: $black;
    cursor: pointer;
    position: relative;
    transition: 0.2s;

    @media (max-width: 600px) {
      font-size: 16px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  &__tabs-item.active {
    color: $brown;
    cursor: auto;

    &:hover {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -3px;
      height: 1px;
      background-color: $brown;
      opacity: 1;
      transition: 0.8s;
    }
  }

  &__body {
    background-color: #614700;
    border-radius: 4px;
    position: relative;
  }

  &__img-wrap {
    width: 100%;
  }
  &__img {
    max-width: 100%;
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 80px;

    @media (max-width: 600px) {
      left: 24px;
    }
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 16px;

    @media (max-width: 800px) {
      font-size: 30px;
    }
    @media (max-width: 600px) {
      font-size: 20px;
      margin-bottom: 7px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 150%;
    color: $white;
    max-width: 480px;

    @media (max-width: 800px) {
      font-size: 18px;
      max-width: 360px;
    }
    @media (max-width: 600px) {
      font-size: 13px;
      max-width: 260px;
    }
  }
}

// filter-cards=======================================================
.filter-cards {
  margin-top: 120px;

  @media (max-width: 700px) {
    margin-top: 61px;
  }

  &__grid {
    display: grid;
    // grid-template-columns: repeat(3, calc(33.3333% - (80px / 3)));
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 1100px) {
      // grid-template-columns: repeat(2, calc(33.3333% - (40px / 2)));
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;
      max-width: 800px;
      margin: 0 auto;
    }

    @media (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      max-width: 400px;
    }
  }

  &__grid-item {
    background-color: #fafafa;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    height: 565px;

    @media (max-width: 700px) {
      height: 557px;
    }
  }

  &__grid-item:nth-child(4),
  &__grid-item:nth-child(5),
  &__grid-item:nth-child(6) {
    @media (max-width: 700px) {
      display: none;
    }
  }

  &__grid-item--promo {
    position: relative;
  }

  &__label {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 6px 14px;
    background: #ff7875;
    border-radius: 4px;
    width: 71px;
    height: 33px;

    font-size: 14px;
    line-height: 150%;
    color: $white;
  }

  &__img-wrap {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }

  &__img {
    max-width: 100%;
  }

  &__title {
    font-size: 32px;
    line-height: 130%;
    color: $black;
    margin-bottom: 4px;
  }

  &__text {
    font-size: 16px;
    line-height: 150%;
    color: $black;
    margin-bottom: 24px;
  }

  &__price {
    font-size: 24px;
    line-height: 130%;
    color: $brown;
    margin-bottom: 24px;

    span:first-child {
      font-size: 16px;
      line-height: 130%;
      text-decoration-line: line-through;
      color: #8c8c8c;
      margin-right: 5px;
    }
  }

  &__colors {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__colors-item {
    width: 16px;
    height: 16px;
    background-color: #bfbfbf;
    border-radius: 2px;
  }

  &__colors-item:nth-child(1) {
    background-color: #bfbfbf;
  }
  &__colors-item:nth-child(2) {
    background-color: #f0f0f0;
  }

  &__btn {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #513f29;
    width: 100%;
  }
}

// production====================================================================
.production {
  margin-top: 120px;

  @media (max-width: 800px) {
    margin-top: 50px;
  }

  &__inner {
  }

  &__info {
    display: flex;
    gap: 32px;
    margin-bottom: 40px;

    @media (max-width: 1050px) {
      flex-wrap: wrap;
      justify-content: center;
    }

    @media (max-width: 800px) {
      margin-bottom: 24px;
    }
  }

  &__info-left {
    width: 60%;
    padding: 16px 16px 0 0;

    @media (max-width: 1050px) {
      padding: 16px 0px 0 0;
    }
  }

  &__info-title {
    margin-bottom: 40px;

    @media (max-width: 800px) {
      margin-bottom: 24px;
      font-size: 24px;
    }
    @media (max-width: 650px) {
      font-size: 24px;
    }
  }

  &__info-text {
    font-size: 20px;
    line-height: 150%;
    color: $black;
    margin-top: 32px;
    max-width: 550px;

    @media (max-width: 800px) {
      margin-top: 24px;
    }
    @media (max-width: 650px) {
      font-size: 13px;
    }
  }

  &__info-img-wrap {
    width: 42%;
  }

  &__info-left,
  &__info-img-wrap {
    @media (max-width: 1050px) {
      width: 70%;
    }
    @media (max-width: 800px) {
      width: 85%;
    }
    @media (max-width: 650px) {
      width: 100%;
    }
  }

  &__info-img {
    max-width: 100%;
  }

  &__bottom {
    @media (max-width: 500px) {
      margin-right: -15px;
    }
  }

  &__slider {
  }

  &__slider-wrapper {
    // display: flex;
    // gap: 40px;
  }

  &__slider-item {
    // max-width: 260px;
  }

  &__sleder-img-wrap {
    max-width: 260px;

    @media (max-width: 650px) {
      max-width: 251px;
      max-height: 168px;
    }
  }

  &__slider-img {
    max-width: 100%;
  }
}

// designer-catalog==============================================
.designer-catalog {
  @media (max-width: 700px) {
    margin-top: 64px;
  }
  .designer__right {
    width: 52.1%;
    background-image: url(../img/catalog/form.jpg);
    background-repeat: no-repeat;

    @media (max-width: 700px) {
      display: none;
    }
  }
}
