.intro {
  padding: 248px 0;
  background-image: url(../img/intro-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (max-width: 480px) {
    background-image: url(../img/intro-bg-mobile.jpg);
    padding: 245px 0;
  }

  &__inner {
    @media (max-width: 500px) {
      max-width: 324px;
      margin: 0 auto;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $white;
    margin-bottom: 16px;

    @media (max-width: 600px) {
      font-size: 32px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: $white;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 477px;

    @media (max-width: 600px) {
      font-size: 16px;
    }
    @media (max-width: 350px) {
      font-size: 14px;
    }
  }

  &__btn {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #513f29;
    margin: 0 auto;
    max-width: 151px;
  }
}

// about===========================================================================
.about {
  margin-top: 120px;

  @media (max-width: 500px) {
    margin-top: 64px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    @media (max-width: 950px) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__col {
  }
  &__col--1 {
    max-width: 560px;

    @media (max-width: 950px) {
      order: 1;
    }
  }
  &__img {
    max-width: 100%;
  }

  &__col--2 {
    max-width: 460px;

    @media (max-width: 950px) {
      max-width: 560px;
    }
  }

  &__title {
    margin-bottom: 42px;

    @media (max-width: 500px) {
      font-size: 24px;
      margin-bottom: 23px;
    }
  }

  &__text {
    font-size: 24px;
    line-height: 150%;
    color: $black;
    margin-top: 33px;

    @media (max-width: 500px) {
      font-size: 16px;
      margin-top: 23px;
    }
  }
}

// running-line=====================================================
.running-line {
  background-color: $brown;
  padding: 24px 0;
  overflow: hidden;
  display: flex;
  margin-top: 120px;

  @media (max-width: 770px) {
    display: none;
  }

  &:hover &__text {
    // animation: running-text 15s infinite linear;
    animation-play-state: paused;
  }

  &__text {
    font-size: 24px;
    line-height: 120%;
    text-transform: uppercase;
    color: $white;

    display: flex;
    gap: 40px;
    // margin-right: 40px;
    padding-right: 40px;
    white-space: nowrap;
    transform: translateX(0%);

    span {
      // margin: 0 40px;
    }

    animation: running-text 15s infinite linear;
    // animation-play-state: paused;
  }
  // &__text:nth-child(1) {
  //   margin-right: 40px;
  //   // margin-left: 20px;
  // }
  // &__text:nth-child(2) {
  //   margin-left: 20px;
  // }
}

@keyframes running-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

// catalog==============================================================
.catalog {
  margin-top: 120px;

  @media (max-width: 650px) {
    margin-top: 64px;
  }

  &__inner {
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: 650px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__more {
    display: flex;
    gap: 8px;
    align-items: center;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__more:hover svg {
    fill: $brown-hover;
  }

  &__more-text {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: $brown;
    transition: 0.2s;

    &:hover {
      color: $brown-hover;
    }
  }

  &__more svg {
    fill: $brown;
    transition: 0.2s;
  }

  &__gallery {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 254px 223px 254px;
    grid-auto-rows: 254px;

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 254px);
      gap: 24px;
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr;
      gap: 24px 0;
    }
    @media (max-width: 500px) {
      grid-template-rows: repeat(7, auto);
    }
  }

  &__card {
    border-radius: 4px;
    background-repeat: no-repeat;
    padding: 48px 15px 15px 32px;

    @media (max-width: 650px) {
      padding: 24px 15px 24px 24px;
    }
  }
  &__card--1 {
    background: linear-gradient(
        90deg,
        rgba(79, 64, 43, 0.9) 0.66%,
        rgba(79, 64, 43, 0.5) 53.52%,
        rgba(79, 64, 43, 0) 100%
      ),
      url(../img/catalog-1.jpg);

    grid-column: 1/3;

    @media (max-width: 650px) {
      grid-column: auto;
    }
  }
  &__card--2 {
    background: linear-gradient(
        90deg,
        rgba(79, 64, 43, 0.9) 0.66%,
        rgba(79, 64, 43, 0.5) 53.52%,
        rgba(79, 64, 43, 0) 100%
      ),
      url(../img/catalog-2.jpg);
  }
  &__card--3 {
    background: linear-gradient(
        90deg,
        rgba(79, 64, 43, 0.9) 0.66%,
        rgba(79, 64, 43, 0.5) 53.52%,
        rgba(79, 64, 43, 0) 100%
      ),
      url(../img/catalog-3.jpg);
  }
  &__card--4 {
    background: linear-gradient(
        90deg,
        rgba(79, 64, 43, 0.9) 0.66%,
        rgba(79, 64, 43, 0.5) 53.52%,
        rgba(79, 64, 43, 0) 100%
      ),
      url(../img/catalog-4.jpg);
  }
  &__card--5 {
    background: linear-gradient(
        90deg,
        rgba(79, 64, 43, 0.9) 0.66%,
        rgba(79, 64, 43, 0.5) 53.52%,
        rgba(79, 64, 43, 0) 100%
      ),
      url(../img/catalog-5.jpg);
  }
  &__card--6 {
    background: linear-gradient(
        90deg,
        rgba(79, 64, 43, 0.9) 0.66%,
        rgba(79, 64, 43, 0.5) 53.52%,
        rgba(79, 64, 43, 0) 100%
      ),
      url(../img/catalog-6.jpg);
  }
  &__card--7 {
    background: linear-gradient(
        90deg,
        rgba(79, 64, 43, 0.9) 0.66%,
        rgba(79, 64, 43, 0.5) 53.52%,
        rgba(79, 64, 43, 0) 100%
      ),
      url(../img/catalog-7.jpg);

    grid-column: 2/-1;

    @media (max-width: 650px) {
      grid-column: auto;
    }
  }
  &__card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__card-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $white;
    max-width: 170px;
    margin-bottom: 8px;

    @media (max-width: 650px) {
      font-size: 20px;
    }
  }

  &__card-text {
    font-size: 16px;
    line-height: 150%;
    color: $white;
    max-width: 300px;
    margin-bottom: 16px;

    @media (max-width: 650px) {
      font-size: 15px;
    }
  }

  &__card-link {
    font-size: 16px;
    line-height: 150%;
    color: #f3d5ae;
    transition: 0.2s;

    @media (max-width: 650px) {
      font-size: 15px;
    }

    &:hover {
      color: #f5b869;
    }

    svg {
      stroke: #f3d5ae;
      transition: 0.2s;
      margin-left: 5px;
    }

    &:hover svg {
      stroke: #f5b869;
    }
  }
}

// popular====================================================================
.popular {
  margin-top: 120px;

  @media (max-width: 600px) {
    margin-top: 64px;
    // margin-top: 11px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: 600px) {
      margin-bottom: 30px;
    }
  }

  &__title {
    @media (max-width: 800px) {
      font-size: 28px;
    }
    @media (max-width: 500px) {
      font-size: 24px;
    }
  }

  &__slider-navigation {
    display: flex;
    gap: 8px;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__slider-navigation-prev,
  &__slider-navigation-next {
    position: static;
    margin-top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid $brown;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      border: 1px solid $brown-hover;
    }

    &:hover svg {
      stroke: $brown-hover;
      transition: 0.2s;
    }

    svg {
      stroke: $brown;
    }

    &::after {
      display: none;
    }
  }
  &__slider-navigation-prev {
  }

  &__slider-navigation-next {
  }

  &__content {
    @media (max-width: 500px) {
      padding: 0 0 0 16px;
    }
  }

  &__slider {
  }

  &__slider-wrapper {
    left: -68px;

    @media (max-width: 800px) {
      left: 0;
    }
  }

  &__slider-slide {
  }

  &__card {
    min-height: 543px;
    // min-height: calc(543px - 84px);
  }

  &__card-inner {
    background-color: $gray;
    height: 459px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    // border: 1px solid red;
    position: relative;
  }

  &__card-img-wrap {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__card-img {
    max-width: 100%;
  }

  &__card-title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 130%;
    color: $black;
    // margin-top: auto;
  }

  &__card-text {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 150%;
    color: #595959;
  }

  &__card-price {
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 28px;
    color: $brown;
  }

  &__card-colors {
    display: flex;
    gap: 8px;
    // margin-bottom: 32px;
  }

  &__card-colors-item {
    width: 16px;
    height: 16px;
    background-color: #7d4d29;
    border-radius: 2px;
  }

  &__card-bottom {
    background-color: $gray;
    height: 84px;
    padding: 0 32px 32px 32px;
    opacity: 0;
    border-radius: 0 0 14px 14px;
    transition: 0.4s;
    // border: 1px solid red;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // z-index: -1;
  }

  &__card-inner:hover &__card-bottom,
  &__card-bottom:hover {
    opacity: 1;
    // bottom: -84px;
    transform: translateY(84px);
  }

  &__card:hover &__card-inner {
    border-radius: 14px 14px 0 0;
  }

  &__card-btn {
    font-size: 16px;
    line-height: 150%;
    color: #513f29;
    width: 100%;
  }
}
.swiper-button-prev {
}
.swiper-button-next {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

// designer=====================================================================
.designer {
  margin-top: 116px;

  @media (max-width: 700px) {
    margin-top: 64px;
    // margin-top: -19px;
  }

  &__inner {
    display: flex;
    max-width: 960px;
    border-radius: 4px;
    overflow: hidden;
    margin: 0 auto;
  }

  &__left {
    width: 47.9%;
    padding: 48px;
    background-color: $gray;

    @media (max-width: 700px) {
      width: 75%;
      margin: 0 auto;
    }

    @media (max-width: 600px) {
      width: 85%;
    }

    @media (max-width: 500px) {
      width: 100%;
      padding: 32px;
    }
  }

  &__title {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $black;

    @media (max-width: 500px) {
      font-size: 20px;
    }
  }

  &__text {
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 150%;
    color: $black;

    @media (max-width: 500px) {
      font-size: 13px;
    }
  }

  &__form {
    margin-bottom: 16px;

    @media (max-width: 700px) {
      margin-bottom: 0px;
    }
  }

  &__input {
    margin-bottom: 16px;
    width: 100%;
    height: 52px;
    font-size: 16px;
    line-height: 150%;
    color: $black;
    padding-left: 24px;
    border: 1px solid #bfbfbf;
    border-radius: 4px;

    &:focus {
      outline: 1px solid;
    }

    &::placeholder {
      color: #8c8c8c;
    }
  }

  &__input.error {
    outline: 2px solid rgb(184, 17, 17);
    // box-shadow: 0 0 2px 2px rgb(184, 17, 17);
    /* border: 2px solid rgb(184,17,17); */
    border: none;
  }

  &__input-name {
  }

  &__btn {
    font-size: 16px;
    line-height: 150%;
    color: #513f29;
    margin-bottom: 16px;

    @media (max-width: 500px) {
      width: 100%;
    }
  }

  &__agree {
    font-size: 13px;
    line-height: 150%;
    color: $black;
    opacity: 0.6;
    transition: 0.2s;

    a {
      color: $black;
      text-decoration: underline;
    }

    &:hover {
      opacity: 1;
    }
    &:hover a {
      color: $link;
    }
  }

  &__right {
    width: 52.1%;
    background-image: url(../img/designer.jpg);
    background-repeat: no-repeat;

    @media (max-width: 700px) {
      display: none;
    }
  }
}

// reviews========================================================================
.reviews {
  margin-top: 107px;

  @media (max-width: 768px) {
    margin-top: 64px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;

    @media (max-width: 768px) {
      margin-bottom: 32px;
    }
  }

  &__title {
    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  &__slider-navigation {
    display: flex;
    gap: 8px;

    @media (max-width: 500px) {
      display: none;
    }
  }

  &__slider-navigation-prev,
  &__slider-navigation-next {
    position: static;
    margin-top: 0;
    width: 40px;
    height: 40px;
    border: 1px solid $brown;
    border-radius: 4px;
    transition: 0.2s;

    &:hover {
      border-color: $brown-hover;
    }
    &:hover svg {
      stroke: $brown-hover;
    }

    svg {
      stroke: $brown;
      transition: 0.2s;
    }

    &::after {
      display: none;
    }
  }

  &__slider-navigation-prev {
  }

  &__slider-navigation-next {
  }

  &__content {
    margin-bottom: 48px;

    @media (max-width: 768px) {
      padding-left: 16px;
    }
  }

  &__slider {
    // height: 423px;
    height: 428px;
    padding-top: 5px;
  }

  &__slider-wrapper {
    left: -68px;

    @media (max-width: 800px) {
      left: 0;
    }
  }

  &__slider-slide {
  }

  &__card {
    border-radius: 4px;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__cardText {
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
  }
  &__cardText--1 {
    background-color: #7f713e;
  }
  &__cardText--1 &__cardText-title,
  &__cardText--1 &__cardText-text {
    color: $white;
  }
  &__cardText--2 {
    background-color: #e3c59e;
  }
  &__cardText--3 {
    background-color: #e5d9be;
  }
  &__cardText--4 {
    background-color: #e9e7da;
  }

  &__cardText-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: $black;
    margin-bottom: 8px;
  }

  &__cardText-text {
    font-size: 16px;
    line-height: 150%;
    color: $black;
  }

  &__cardText-img-wrap {
    margin: auto auto 2px auto;
    width: 48px;
    // height: 48px;
  }

  &__cardText-img {
    max-width: 100%;
  }

  &__cardText-user-name {
    font-size: 12px;
    line-height: 150%;
    color: $black;
    text-align: center;
  }

  &__cardVideo {
    position: relative;
  }

  &__cardVideo-img-wrap {
    width: 100%;
    height: 100%;
  }

  &__cardVideo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    // object-position: center;
  }

  &__cardVideo-play {
    width: 48px;
    height: 48px;
    background-color: rgba(127, 113, 62, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 52px;
    margin: auto;
    border-radius: 50%;
    transition: 0.2s;

    &:hover {
      background-color: rgba(127, 113, 62, 1);
    }

    &::before {
      content: '';
      position: absolute;
      width: 12.6px;
      height: 14.4px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url(../img/reviews-triangle.svg);
      background-repeat: no-repeat;
    }
  }

  &__more {
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $brown;
    text-decoration: underline;
    text-align: center;
    text-underline-offset: 5px;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    transition: 0.2s;
    display: block;

    @media (max-width: 768px) {
      display: none;
    }

    &:hover {
      color: $brown-hover;
    }
  }
}

/* modal===================== */
.modal {
  transform: scale(0);
  pointer-events: none;
  transition: 0.2s;
}
.modal.open {
  transform: scale(1);
  pointer-events: all;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: rgba(#000, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal__body {
  max-width: 560px;
  // width: 100%;
  // padding: 30px;
  height: 100%;
  background-color: #fff;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  opacity: 0;
  // transition: 0.5s;
  border-radius: 4px;
  overflow: hidden;
}
.modal.open .modal__body {
  opacity: 1;
}
.modal__btn {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.678);
  align-self: flex-end;
  border: none;
  background: transparent;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 10px;
  z-index: 1;
  top: 16px;
  right: 16px;
  line-height: 24px;
}
.modal__btn:hover {
  color: #000;
}
.modal__content {
  overflow-y: auto;
}
.modal__text {
  margin-bottom: 20px;
  line-height: 1.4;
}
.modal__wrap-img {
  max-width: 460px;
}
.modal__img {
  max-width: 100%;
}

// modal-reviews==============================================
.modal-reviews {
  &__modalText {
    padding: 32px;
  }

  &__modalText--1 {
    background-color: #7f713e;
  }
  &__modalText--1 &__modalText-title,
  &__modalText--1 &__modalText-text {
    color: $white;
  }
  &__modalText--2 {
    background-color: #e3c59e;
  }
  &__modalText--3 {
    background-color: #e5d9be;
  }
  &__modalText--4 {
    background-color: #e9e7da;
  }

  &__modal {
    max-width: 560px;
    max-height: 886px;
    height: 100vh;
    border-radius: 4px;
    overflow: auto;
    display: none;
  }

  &__modal.show {
    display: block;
  }

  &__modalText-title {
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: $black;
  }

  &__modalText-text {
    margin-bottom: 54px;
    font-size: 16px;
    line-height: 150%;
    color: $black;
  }

  &__modalText-img-wrap {
    margin-bottom: 2px;
    max-width: 80px;
    margin: 0 auto;
  }

  &__modalText-img {
    width: 100%;
  }

  &__modalText-user-name {
    text-align: center;
    font-size: 24px;
    line-height: 150%;
    color: $black;
  }

  &__modalVideo {
    position: relative;
  }

  &__modalVideo--1 {
  }

  &__modalVideo-img-wrap {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__modalVideo-img {
    height: 100%;
  }

  &__modalVideo-play {
    width: 80px;
    height: 80px;
    background-color: rgba(127, 113, 62, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: rgba(127, 113, 62, 1);
    }

    &::before {
      content: '';
      position: absolute;
      width: 21px;
      height: 24px;
      left: 5px;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      background-image: url(../img/reviews-triangle-modal.svg);
      background-repeat: no-repeat;
    }
  }

  &__modalVideo-img-wrap.hide,
  &__modalVideo-play.hide {
    display: none;
  }

  &__modalVideo-video-wrap {
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
  }
  &__modalVideo-video {
    width: 100%;
  }

  &__modalVideo-video-wrap.show {
    display: flex;
  }
}

// gallery===========================================================
.gallery {
  margin-top: 120px;

  @media (max-width: 768px) {
    margin-top: 64px;
  }

  &__title {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-bottom: 40px;
    max-width: 380px;

    @media (max-width: 768px) {
      font-size: 24px;
      line-height: 120%;
      max-width: 310px;
    }

    @media (max-width: 600px) {
      margin-bottom: 24px;
    }
  }

  &__title-link {
    color: #e3c59e;
    text-decoration: underline;
    transition: 0.2s;

    &:hover {
      color: #ab8452;
    }
  }

  &__description-box {
    margin-bottom: 28px;
    position: relative;
    padding-left: 84px;

    @media (max-width: 700px) {
      margin-bottom: 37px;
    }

    &::before {
      content: '';
      position: absolute;
      width: 60px;
      height: 60px;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 0;
      background-image: url(../img/gallery-icon.png);
      background-repeat: no-repeat;
    }
  }

  &__description-box-url {
    font-size: 24px;
    line-height: 120%;
    color: $black;
    transition: 0.2s;

    &:hover {
      color: #e3c59e;
    }
  }

  &__description-box-bottom {
    display: flex;
    gap: 16px;
    margin-top: 4px;
  }

  &__description-box-text {
    font-size: 16px;
    line-height: 120%;
    color: $black;

    span {
      font-size: 12px;
      line-height: 14.4px;
      color: #8c8c8c;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    padding: 0 20px;

    @media (max-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: 768px) {
      padding: 0 16px;
      gap: 8px;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__grid-item {
  }

  &__grid-img {
    max-width: 100%;
  }
}

// clients=================================================================
.clients {
  margin-top: 120px;

  @media (max-width: 850px) {
    margin-top: 64px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (max-width: 850px) {
      flex-wrap: wrap;
      // gap: 15px;
    }

    // &::before {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   right: 0;
    //   background: #ffe5c2;
    //   mix-blend-mode: color-burn;
    // }
  }

  &__img-wrap {
    @media (max-width: 850px) {
      flex-basis: calc(33.333% - 10px);
    }
  }

  &__img {
    max-width: 100%;
    @media (max-width: 850px) {
      margin: 0 auto;
    }
  }
}
.container {
}
